@font-face {
  font-family: "JakartaSans";
  src: url("../fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --main-color: #12222f;
  --secondary-color: #a14198;
  --Omni-Yellow: #feba16;
  --white: #fff;
  --Muted-Text: #838383;
  --Omni-Dark: #12222f;
  --Inter: "Inter";
  --JakartaSans: "JakartaSans";
}
.about-us-col {
  display: flex;
  justify-content: space-between;
}
.about-us-col > section {
  width: 41.797vw;
  height: 29.727vw;
  gap: 1.875vw;
  height: inherit;
}
.about-us-col > section > h1 {
  color: var(--Omni-Yellow);
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
.about-us-col > section > p:nth-child(2) {
  color: var(--Omni-Dark);
  margin-top: 16px;
  font-family: var(--Inter);
  font-size: 2.188vw;
  font-weight: 700;
}
.about-us-col > section > p:nth-child(3) {
  color: var(--Omni-Dark);
  text-align: justify;
  margin-top: 1.875vw;
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;
}
.highlight {
  position: relative;
}
.videohighlight {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -7.773vw;
  max-width: 70.313vw;
  width: 97%;
  border-radius: 10px;
  height: 23.789vw;
  object-fit: cover;
}
.highlight-container {
  margin-top: 6.992vw;
  width: 100%;
  height: 32.984vw;
  background: #12222f;
}
.about-us-col section > a {
  margin-top: 1.875vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 6.016vw;
  border: none;
  border-radius: 0.313vw;
  padding: 0.625vw 1.25vw 0.625vw 1.25vw;
  background: radial-gradient(
    60.19% 121.58% at 30.25% 20.32%,
    rgba(200, 45, 150, 0.35) 2.08%,
    rgba(198, 19, 162, 0.35) 30.73%,
    rgba(181, 80, 248, 0.71) 100%
  );
  color: #fff;
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.563vw;
  cursor: pointer;
}

.second-second-col {
  background: var(--main-color);
}
#second-col-tittle {
  width: 29.492vw;
  color: var(--white);
  font-family: var(--JakartaSans);
  font-size: 3.125vw;
  font-weight: 700;
}
.second-col-container {
  display: flex;
  align-items: center;
  gap: 55px;
  justify-content: space-between;
  margin-top: 2.5vw;
}
.col-rectanlge > img {
  width: 29.641vw;
  height: 35.057vw;
  border-radius: 10px;
  object-fit: cover;
}

.about-intro > h1 {
  text-align: center;
  color: var(--Omni-Dark);
  margin-top: 16px;
  font-family: var(--Inter);
  font-size: 3.808vw;
  font-weight: 700;
}
.about-team > ul > li > section > img {
  width: 22vw;
  height: 25vw;
  object-fit: cover;
  border-radius: 10px;
}
.about-team > ul {
  margin-top: 5vw;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;
}
.about-team > ul > li > section > h1 {
  color: var(--Omni-Dark);
  margin-top: 16px;
  font-family: var(--Inter);
  font-size: 1.808vw;
  font-weight: 700;
}
.about-team > ul > li > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-team > ul > li > section > p {
  color: var(--Omni-Dark);
  text-align: justify;
  margin-top: 0.875vw;
  font-family: var(--JakartaSans);
  font-size: 0.875vw;
  font-weight: 500;
}
.about-team > ul > li > section > p:nth-child(4) {
  color: var(--Omni-Dark);
  text-align: justify;
  margin-top: 0.875vw;
  font-family: var(--JakartaSans);
  font-size: 1.108vw;
  font-weight: 500;
  text-align: center;
}
#team-socials > a {
  border: 1 solid var(--main-color);
  font-size: 2vw;
  color: var(--main-color);
  margin: 2vw 0.923vw;
}
.second-left-corner > ul {
  list-style: none;
  text-decoration: none;
  align-items: center;
  justify-content: space-evenly;
}
.second-left-corner > ul > li {
  display: flex;
  align-items: center;
  gap: 1.406vw;
  margin-top: 1.25vw;
  border-radius: 0.313vw;
}
.selected {
  background: var(--Omni-Yellow);
}
.third-bg {
  background: var(--main-color);
}
#thid-bg-hg > p:nth-child(2) {
  color: var(--white);
}
#thid-bg-hg > p:nth-child(3) {
  color: var(--white);
}
.third-about-us-col {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.third-about-us-col > section {
  width: 31.797vw;
  height: 29.727vw;
  gap: 1.875vw;
}
.third-about-us-col > section > h1 {
  color: var(--Omni-Yellow);
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
.third-about-us-col > section > p:nth-child(2) {
  color: var(--Omni-Dark);
  margin-top: 16px;
  font-family: var(--Inter);
  font-size: 2.188vw;
  font-weight: 700;
}
.third-about-us-col > section > p:nth-child(3) {
  color: #838383;
  text-align: justify;
  margin-top: 1.875vw;
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;
}

#content-placeholder {
  text-align: center;
  color: var(--white);
  margin-left: 10px;
  font-family: var(--JakartaSans);
  font-size: 1.938vw;
  font-weight: 500;
}
.circularAvart {
  padding: 1.25vw;
}

.inside-padding > span {
  width: 4.805vw;
  height: 4.805vw;
  background: var(--Omni-Yellow);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.938vw;
}
#core-title {
  color: var(--white);
  font-family: var(--Inter);
  font-size: 3.25vw;
  text-align: center;
  font-weight: 600;

  margin-bottom: 1.563vw;
}
@media (max-width: 788px) {
  .about-us-col {
    flex-direction: column-reverse;
  }
  .col-rectanlge > img {
    width: 100%;
    height: 62.943vw;
  }
  .about-us-col > section {
    margin-top: 3vw;
    width: 100%;
  }
  .about-us-col > section > h1 {
    font-size: 4.25vw;
  }
  .about-us-col > section > p:nth-child(2) {
    font-size: 9.188vw;
  }
  .about-us-col > section > p:nth-child(3) {
    font-size: 3.638vw;
  }
  .about-us-col section > a {
    margin-top: 5vw;
    padding: 4.625vw 8.25vw;
    font-size: 4.45vw;
    border-radius: 1vw;
  }
  .about-team > ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-team > ul > li > section > img {
    width: 83vw;
    height: 91vw;
  }
  .about-intro > h1 {
    margin-top: 43px;
    font-size: 8.808vw;
  }
  .about-team > ul > li > section > h1 {
    font-size: 5.808vw;
  }
  .about-team > ul > li > section > p {
    font-size: 4.875vw;
  }
  .about-team > ul > li > section > p:nth-child(4) {
    font-size: 2.108vw;
  }
  #team-socials > a {
    border: 1 solid var(--main-color);
    font-size: 3vw;
    color: var(--main-color);
    margin: 2vw 0.923vw;
  }
}
