@font-face {
  font-family: "JakartaSans";
  src: url("../fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --main-color: #12222f;
  --secondary-color: #a14198;
  --Omni-Yellow: #feba16;
  --white: #fff;
  --Muted-Text: #838383;
  --Omni-Dark: #12222f;
  --Inter: "Inter";
  --JakartaSans: "JakartaSans";
}
.footer-container {
  background: var(--main-color);
}
#footerlist {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footerlist > li > section > h1 {
  font-size: 1.094vw;
}
#footerlist > li {
  font-size: 0.586vw;
}
#footerlist > li > p {
  margin-top: 0.781vw;
  width: 19.961vw;
  color: var(--white);
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;

}
.socials > a {
  margin: 0.781vw 0.586vw 0 0;
  text-decoration: none;
  color: var(--white);
  border: 1px solid white;
  padding: 0.391vw;
  border-radius: 0.313vw;
  font-size: 0.781vw;
}
.footer-discovery > ul > li {
  margin-top: 0.391vw;
  list-style: none;
  margin-top: 0.781vw;
}
.footer-services > ul > li {
  margin-top: 0.391vw;
  list-style: none;
  margin-top: 0.781vw;
}
#footerlist li > section {
  color: var(--white);
}
.footer-contactdetails p {
  margin-top: 0.781vw;
}
.footer-contactdetails p > span {
  margin-left: 0.391vw;
}
@media (max-width: 788px) {
  #footerlist {
    flex-direction: column;
    gap: 3vw  ;
    align-items: start;
  }
  #footerlist > li {
    margin-top: 2vw;
}
  #footerlist > li > p {
    margin-top: 3.781vw;
    width: 60.961vw;
    font-size: 3.938vw;
}
.socials > a {
  margin: 2.781vw 3.586vw 0 0;
 
  padding: 1.391vw;
  font-size: 3.781vw;
}
#footerlist > li > section > h1 {
  font-size: 3.094vw;
}
#footerlist > li > section > ul > li{
  font-size: 2vw;
}
.footer-contactdetails > p{
  margin-top: 3vw;
}
.footer-contactdetails > p > i{
  font-size: 3vw;

}
.footer-contactdetails > p > span{
  margin-left: 2vw;
  font-size: 2vw;
}
}