@font-face {
  font-family: "JakartaSans";
  src: url("../fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --main-color: #12222f;
  --secondary-color: #a14198;
  --Omni-Purple-2: #a14198;
  --Omni-Yellow: #feba16;
  --white: #fff;
  --Muted-Text: #838383;
  --Omni-Dark: #12222f;
  --Inter: "Inter";
  --JakartaSans: "JakartaSans";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: "JakartaSans";
  text-decoration: none;
}
html,
body {
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
}
.main-padding {
  padding: 3.75vw 11.719vw 3.75vw 11.719vw;
}
.second-col-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 19.063vw;
}
.col-details {
  width: 31.797vw;
  height: 29.727vw;
}
.product-read-more {
  text-decoration: none;
  width: 12.305vw;
  margin-top: 1.875vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: none;
  border-radius: 0.313vw;
  padding: 0.625vw 1.25vw 0.625vw 1.25vw;
  background: radial-gradient(
      60.19% 121.58% at 30.25% 20.32%,
      rgba(200, 45, 150, 0.35) 2.08%,
      rgba(198, 19, 162, 0.35) 30.73%,
      rgba(181, 80, 248, 0.71) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  color: #fff;
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;

  cursor: pointer;
}
.col-details h1,
p {
  font-family: var(--Inter);
}
.col-details > h1 {
  color: var(--Omni-Yellow);
  font-size: 1.25vw;
  font-weight: 600;
}
.col-details > p:nth-child(2) {
  color: var(--Omni-Dark, #12222f);
  font-size: 2.188vw;
  font-weight: 700;

  padding: 0.625vw 0 1.797vw 0;
}
.col-details > p:nth-child(3) {
  color: #838383;
  font-size: 0.938vw;
  font-weight: 500;
}
.col-rectanlge img {
  width: 31.797vw;
  height: 30.469vw;
}
.third-col-wrap {
  height: 46.875vw;
  background: var(--main-color);
  position: relative;
}
.thirdevenContianer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.758vw;
}
.third-card {
  width: 37.969vw;
  height: 45vw;
  border-radius: 10px;
}
.product-card {
  background-color: #85939d;
}
.aboutcard {
  background: #c0b5a0;
}
/* .third-card > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.758vw;
  gap: 1.758vw;
}

.third-card > section > h1 {
  color: var(--white);
  font-size: 3.188vw;
  font-weight: 900;
}
.third-card > section > p {
  margin-top: 0.305vw;
  color: var(--white);
  font-size: 1.938vw;
  font-weight: 500;

  text-align: center;
  width: 32.031vw;
}
.third-card > section > a {
  border: 0.078vw solid var(--white);
  border-radius: 0.391vw;
  display: flex;
  align-items: center;
  font-size: 1.938vw;
  justify-content: center;
  color: var(--white);
  width: 13.078vw;
  height: 3.172vw;
}
.third-card > section > img {
  width: 32.766vw;
  height: 20.984vw;
  object-fit: cover;
  border-radius: 0.391vw;
} */

.third-col-details {
  display: flex;
  gap: 8.633vw;
  justify-content: space-between;
}
.third-col-section h1,
p {
  font-family: var(--Inter);
}
.third-col-section > h1 {
  color: var(--Omni-Yellow);
  font-family: Inter;
  font-size: 1.25vw;
  font-weight: 600;
  
}
.third-col-details .third-col-section > p {
  color: var(--white);
  font-size: 1.875vw;
  font-weight: 700;
  
}
.third-col-details p {
  color: var(--white);
  font-size: 1.25vw;
  font-weight: 600;
  
}
.third-col-holder {
  max-width: 55.195vw;
  width: 95%;
  height: 34.18vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 17.695vw;
  margin: auto;
  border-radius: 1.25vw;
  background: #423a41;
}
.fouth-col-wrap {
  margin-top: 5vw;
}
.fouth-col-details > h1 {
  color: var(--Muted-Text);
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
.fouth-col-details > p {
  color: var(--Omni-Dark);
  font-family: var(--JakartaSans);
  font-size: 3.125vw;
  font-weight: 700;
}
.service-container {
  margin: 6.875vw 0 0 0;
}
.serviceswrap .service-container > li {
  padding: 3.75vw 0 3.75vw 0;
  list-style: none;
  text-decoration: none;
}
.service-container > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-container .services-content-container > h1 {
  color: var(--Omni-Dark);
  font-size: 1.25vw;
  font-weight: 600;
}
.service-container .services-content-container > p {
  width: 23.211vw;
  margin-top: 0.391vw;
  color: var(--Omni-Dark);
  font-size: 2.188vw;
  font-weight: 700;
}
.excerpt-container {
  margin-top: 1.875vw;
  max-height: 240.006px;
  width: 23.211vw;
  overflow: hidden;
  position: relative;
}

.services-content-container > a {
  text-decoration: none;
  width: 12.305vw;
  margin-top: 1.875vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: none;
  border-radius: 0.313vw;
  padding: 0.625vw 1.25vw 0.625vw 1.25vw;
  background: radial-gradient(
      60.19% 121.58% at 30.25% 20.32%,
      rgba(200, 45, 150, 0.35) 2.08%,
      rgba(198, 19, 162, 0.35) 30.73%,
      rgba(181, 80, 248, 0.71) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  color: #fff;
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;

  cursor: pointer;
}
.services-content-container {
  width: 29.492vw;
  height: 30.469vw;
}
.services-content-container h1,
p {
  font-family: var(--Inter);
}

.excerpt-container > p {
  text-align: justify;
  color: var(--Muted-Text);
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;
}
.list-container-holder {
  width: 43.516vw;
  height: 30.469vw;
  flex-shrink: 0;
  border-radius: 0.313vw;
  background: radial-gradient(
    135.66% 84.71% at 30.25% 20.32%,
    rgba(200, 52, 147, 0.2) 0%,
    rgba(198, 19, 162, 0.28) 27.16%,
    rgba(181, 80, 248, 0.43) 100%
  );
  backdrop-filter: blur(50px);
  position: relative;
}
.list-service-holder {
  width: 37.539vw;
  height: 25.156vw;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 8px;
  background: #423a41;
  position: absolute;
  bottom: 0;
  right: 0;
}

.fifth-col-wrap {
  display: flex;
  height: 40.844vw;
  align-items: center;
  gap: 17.188vw;
  flex-shrink: 0;
  align-self: stretch;
  background-color: var(--main-color);
  position: relative;
}

.fifth-details-wrap {
  width: 31.906vw;
  position: absolute;
}
.fifth-details-wrap > h1 {
  color: var(--Omni-Yellow);
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
.fifth-details-wrap > p:nth-child(2) {
  color: var(--white);
  font-family: var(--JakartaSans);
  margin-top: 0.625vw;
  font-size: 3.125vw;
  font-weight: 700;
}
.fifth-details-wrap > p:nth-child(3) {
  margin-top: 1.367vw;
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--Inter);
  font-size: 0.938vw;
  font-weight: 400;
}
.fifth-details-wrap > button {
  margin-top: 1.367vw;
  border: none;
  display: flex;
  padding: 0.625vw 1.25vw;
  justify-content: center;
  align-items: center;
  gap: 1.25vw;
  border-radius: 0.313vw;
  background: var(
    --Omni-Gradient-1,
    radial-gradient(
      135.66% 84.71% at 30.25% 20.32%,
      rgba(200, 45, 150, 0.35) 2.08%,
      rgba(198, 19, 162, 0.35) 30.73%,
      rgba(181, 80, 248, 0.71) 100%
    )
  );
  color: #fff;
  font-size: 1.25vw;
  font-weight: 600;

  cursor: pointer;
}
.fifth-col-container {
  background: #192835;
  width: 52.031vw;
  height: 43.844vw;
  position: absolute;
  border-top-left-radius: 0.586vw;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.six-col-wrap {
  margin-top: 4.688vw;
}
.six-col-wrap #six-col-tittle {
  width: 29.492vw;
  color: var(--Omni-Dark);
  font-family: var(--JakartaSans);
  font-size: 3.125vw;
  font-weight: 700;
}
.six-col-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5vw;
}

.six-left-corner > ul {
  list-style: none;
  text-decoration: none;
}
.six-left-corner > ul > li {
  display: flex;
  align-items: center;
  gap: 1.406vw;
  margin-top: 1.25vw;
  border-radius: 0.313vw;
  background: rgba(255, 107, 202, 0.13);
}
.circularAvart {
  padding: 1.25vw;
}
.circularAvart img {
  width: 4.805vw;
  height: 4.805vw;
}
.corner-padding {
  padding: 1.25vw 1.25vw 1.25vw 0;
}
.corner-content {
  width: 20.117vw;
}
.corner-content > h1 {
  color: var(--secondary-color);
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
.corner-content > p {
  margin-top: 0.625vw;
  color: var(--Omni-Dark);
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;
}
.six-container-holder {
  width: 37.969vw;
  height: 15.664vw;
  border-radius: 0.313vw;
  background: #423a41;
}
.six-right-corner > section {
  margin-top: 1.68vw;
  width: 37.969vw;
}
.six-right-corner section > h1 {
  color: var(--Muted-Text);
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
.six-right-corner section > p {
  margin-top: 16px;
  color: var(--Omni-Dark);
  font-family: var(--Inter);
  font-size: 2.188vw;
  font-weight: 700;
}
.six-right-corner section > ul {
  padding: 1.25vw 0 1.25vw 0;
}
.six-right-corner section > ul > li {
  list-style: inside;
  color: var(--Muted-Text);
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;
}
.six-right-corner section > a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 6.016vw;
  border: none;
  border-radius: 0.313vw;
  padding: 0.625vw 1.25vw 0.625vw 1.25vw;
  background: radial-gradient(
      60.19% 121.58% at 30.25% 20.32%,
      rgba(200, 45, 150, 0.35) 2.08%,
      rgba(198, 19, 162, 0.35) 30.73%,
      rgba(181, 80, 248, 0.71) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  color: #fff;
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
.six-right-corner section > button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 6.016vw;
  border: none;
  border-radius: 0.313vw;
  padding: 0.625vw 1.25vw 0.625vw 1.25vw;
  background: radial-gradient(
      60.19% 121.58% at 30.25% 20.32%,
      rgba(200, 45, 150, 0.35) 2.08%,
      rgba(198, 19, 162, 0.35) 30.73%,
      rgba(181, 80, 248, 0.71) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  color: #fff;
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
.seventh-col-wrap {
  margin-top: 4.688vw;
  background: #d1d1d1;
}
.seventh-section {
  display: flex;
  justify-content: space-between;
}
.seventh-section > h1 {
  color: var(--Omni-Dark);
  font-family: var(--JakartaSans);
  width: 29.492vw;
  font-size: 3.125vw;
  font-weight: 700;
}
.seventh-list {
  margin-top: 5.938vw;
}
.seventh-section > p {
  color: var(--Omni-Dark);
  font-family: var(--Inter);
  font-size: 1.25vw;
  width: 25.586vw;
  font-style: normal;
  font-weight: 600;
}
#seventh-listveiw {
  list-style: none;
  gap: 1.602vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
}
#seventh-listveiw >li {
  padding: 2.188vw 6.25vw;
  border-radius: 0.313vw;
  background: #fff;
  width: 20.977vw;
  height: 11.445vw;
    background-image: url("https://images.unsplash.com/photo-1683009680116-b5c04463551d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");

}
.secenth-center > p {
  margin-top: 0.625vw;
  color: var(--Muted-Text);
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
#seventh-listveiw > li .secenth-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-padding-nnth {
  padding: 4.688vw 11.719vw 4.688vw 11.719vw;
}
.nnth-col-wrap > section h1 {
  color: var(--Muted-Text);
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
.nnth-col-wrap > section p:nth-child(2) {
  color: var(--Omni-Dark, #12222f);
  font-family: var(--JakartaSans);
  font-size: 3.125vw;
  font-weight: 700;
}
.nnth-col-wrap > section p:nth-child(3) {
  margin-top: 2.5vw;
  color: var(--Omni-Purple-2, #a14198);
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
#nnth-listview {
  list-style: none;
  display: flex;
}
#nnth-listview {
  margin-top: 2.5vw;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
#nnth-listview > li {
  width: 13.086vw;
}
.nnth-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nnth-center > p {
  color: var(--Omni-Dark);
  text-align: center;
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;
}
.eight-col-wrap {
  display: flex;
  justify-content: space-between;
}
#eight-list-view {
  list-style: none;
}
.eight-col-wrap > section h1 {
  color: var(--Muted-Text);
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
.eight-col-wrap > section p {
  margin-top: 16px;
  color: var(--Omni-Dark);
  font-family: var(--Inter);
  font-size: 2.188vw;
  font-weight: 700;
}
#eight-list-view > li {
  margin-top: 3.125vw;
  display: flex;
  align-items: center;
  gap: 1.406vw;
  border-radius: 0.313vw;
  padding: 1.25vw;
}

#eight-list-view > li > img {
  width: 4.805vw;
  height: 4.805vw;
}
#eight-list-view > li > section > h1 {
  color: var(--Omni-Purple-2);

  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
#eight-list-view > li > section > p {
  margin-top: 16px;
  color: var(--Omni-Dark);
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;

  width: 20.117vw;
}
@media (max-width: 788px) {
  .second-col-wrap {
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
  .home-rect{
    display: none;
  }
  .col-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 73.797vw;
    height: inherit;
  }
  .col-details > p:nth-child(2) {
    font-size: 5.188vw;
  }
 
  .col-details > p:nth-child(3) {
    text-align: justify;
    font-size: 2.938vw;
  }
  .product-read-more {
    text-decoration: none;
    width: 20.305vw;
    font-size: 2.938vw;
    margin-top: 2.875vw;
  }
  .third-col-wrap {
    height:77.875vw;
}
.third-col-details {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.third-col-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.third-col-holder {
  position: relative;
  top: 2.695vw;
}
.third-col-section > h1 {
  font-size: 4.25vw;
  margin-bottom: 10px;
}
.third-col-details .third-col-section > p {
  font-size: 2.875vw;
}
.third-col-details p {
  font-size: 2.25vw;
}
.fouth-col-details > p {
  font-size: 5.125vw;
}
.fouth-col-details > h1 {
  font-size: 4.25vw;
}.service-container > li {
  flex-direction: column-reverse;
  align-items: center;
}
.list-container-holder {
  width: 100%;
}
.list-service-holder {
  width: 72.539vw;
  height: 28.156vw;
}
.service-container .services-content-container > h1 {
  margin-top: 20px;
  font-size: 3.25vw;
  color: #feba16;
}
.services-content-container {
  width: 100%;
  height: inherit;
}
.service-container .services-content-container > p {
  width: 100%;
  margin-top: 0.391vw;
  font-size: 4.188vw;
}
.excerpt-container {
  width: 100%;
}
.excerpt-container > p {
  font-size: 1.938vw;
}
.services-content-container > a {
  width: 19.305vw;
  height: 4vw;
  margin-top: 2.875vw;
  display: flex;
  align-items: center;
  font-size:2vw ;
}
.fifth-col-wrap {
  height: 74.844vw;
  justify-content: start;
  flex-direction: column-reverse;
  gap: 10px;
}
.fifth-details-wrap {
  width: 100%;
  position: relative;
}
.fifth-col-container {
  position: relative;
}
.fifth-details-wrap > h1 {
  font-size: 3.25vw;
}
.fifth-details-wrap > p:nth-child(3) {
  margin-top: 2.367vw;
  font-size: 2.938vw;
}
.fifth-details-wrap > button {
  margin-top: 4.367vw;
  padding: 1.625vw 3.25vw;
  font-size: 2.25vw;
}
.fifth-col-container {
  width: 75.031vw;
  margin-top: 2vw;
}
.six-col-wrap #six-col-tittle {
  width: 63.492vw;
  font-size: 5.125vw;
}
.six-col-container {
  justify-content: space-between;
  margin-top: 2.5vw;
  flex-direction: column-reverse;
}
.six-container-holder {
  width: 75.969vw;
  height: 32.664vw;
  border-radius: 0.313vw;
}
.six-right-corner section > h1 {
  font-size: 3.25vw;
}

.six-right-corner section > p {
  font-size: 4.188vw;
}
.six-right-corner > section {
    width: 100%;
}
.six-right-corner section > ul > li {
  font-size: 2.938vw;
  margin-top: 2vw;
}
.six-right-corner section > a {
  padding: 1.625vw 1.25vw 1.625vw 1.25vw;
  font-size: 2.25vw;
}
.corner-content {
  width: 100%;
}
.corner-content > p {
  font-size: 2.738vw;
}
.corner-content > h1 {
  font-size: 2.25vw;
}
.inside-padding > img {
  width: 9.805vw;
  height: 10.805vw;
}
.six-left-corner > ul{
  margin-top: 3vw;
}
.seventh-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seventh-section > h1 {
  width: 100%;
  font-size: 4.925vw;
}
.seventh-section > p {
  margin-top: 2.567vw;
  font-size: 2.25vw;
  text-align: center;
  width: 100%;
}
#seventh-listveiw {
  flex-direction: column;}

  #seventh-listveiw > li {
    width: 85%;
    height: 27.445vw;
}
.eight-col-wrap {
  flex-direction: column;
}
#eight-list-view > li > section > h1 {
  font-size: 2.25vw;
}
#eight-list-view > li > section > p {
  font-size: 2.338vw;
  width: 100%;
}
#eight-list-view > li > img {
  width: 11.805vw;
  height: 12.805vw;
}
.nnth-col-wrap > section h1 {
  font-size: 4.25vw;
}
#nnth-listview {
  flex-direction: column;
  align-items: center;
}
.nnth-col-wrap > section p:nth-child(2) {
  font-size: 6.125vw;
}
.nnth-col-wrap > section p:nth-child(3) {
  font-size: 3.25vw;
}
.circularAvart img {
  width: 15.805vw;
  height: 19.805vw;
}
#nnth-listview > li {
  width: 100%;
}
.nnth-center > p {
  font-size: 2.938vw;
  width: 50vw;
}
}
@media (max-width: 488px) {
  .second-col-wrap {
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
  .col-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 73.797vw;
    height: inherit;
  }
  .col-details > p:nth-child(2) {
    font-size: 5.188vw;
  }
 
  .col-details > p:nth-child(3) {
    text-align: justify;
    font-size: 2.938vw;
  }
  .product-read-more {
    text-decoration: none;
    width: 35.305vw;
    font-size: 3.938vw;
    margin-top: 4.875vw;

  }
  .third-col-wrap {
    height:77.875vw;
}
.third-col-details {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.third-col-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.third-col-holder {
  position: relative;
  top: 2.695vw;
}
.third-col-section > h1 {
  font-size: 4.25vw;
  margin-bottom: 10px;
}
.third-col-details .third-col-section > p {
  font-size: 2.875vw;
}
.third-col-details p {
  font-size: 2.25vw;
}
.fouth-col-details > p {
  font-size: 5.125vw;
}
.fouth-col-details > h1 {
  font-size: 4.25vw;
}.service-container > li {
  flex-direction: column-reverse;
  align-items: center;
}
.list-container-holder {
  width: 100%;
}
.list-service-holder {
  width: 72.539vw;
  height: 28.156vw;
}
.service-container .services-content-container > h1 {
  margin-top: 20px;
  font-size: 3.25vw;
  color: #feba16;
}
.services-content-container {
  width: 100%;
  height: inherit;
}
.service-container .services-content-container > p {
  width: 100%;
  margin-top: 0.391vw;
  font-size: 4.188vw;
}
.excerpt-container {
  width: 100%;
}
.excerpt-container > p {
  font-size: 1.938vw;
}
.services-content-container > a {
  width: 19.305vw;
  height: 4vw;
  margin-top: 2.875vw;
  display: flex;
  align-items: center;
  font-size:2vw ;
}
.fifth-col-wrap {
  height: 74.844vw;
  justify-content: start;
  flex-direction: column-reverse;
  gap: 10px;
}
.fifth-details-wrap {
  width: 100%;
  position: relative;
}
.fifth-col-container {
  position: relative;
}
.fifth-details-wrap > h1 {
  font-size: 3.25vw;
}
.fifth-details-wrap > p:nth-child(3) {
  margin-top: 2.367vw;
  font-size: 2.938vw;
}
.fifth-details-wrap > button {
  margin-top: 4.367vw;
  padding: 1.625vw 3.25vw;
  font-size: 2.25vw;
}
.fifth-col-container {
  width: 75.031vw;
  margin-top: 2vw;
}
.six-col-wrap #six-col-tittle {
  width: 63.492vw;
  font-size: 5.125vw;
}
.six-col-container {
  justify-content: space-between;
  margin-top: 2.5vw;
  flex-direction: column-reverse;
}
.six-container-holder {
  width: 75.969vw;
  height: 32.664vw;
  border-radius: 0.313vw;
}
.six-right-corner section > h1 {
  font-size: 3.25vw;
}

.six-right-corner section > p {
  font-size: 4.188vw;
}
.six-right-corner > section {
    width: 100%;
}
.six-right-corner section > ul > li {
  font-size: 2.938vw;
  margin-top: 2vw;
}
.six-right-corner section > a {
  padding: 1.625vw 1.25vw 1.625vw 1.25vw;
  font-size: 2.25vw;
}
.corner-content {
  width: 100%;
}
.corner-content > p {
  font-size: 2.738vw;
}
.corner-content > h1 {
  font-size: 2.25vw;
}
.inside-padding > img {
  width: 9.805vw;
  height: 10.805vw;
}
.six-left-corner > ul{
  margin-top: 3vw;
}
.seventh-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.seventh-section > h1 {
  width: 100%;
  font-size: 4.925vw;
}
.seventh-section > p {
  margin-top: 2.567vw;
  font-size: 2.25vw;
  text-align: center;
  width: 100%;
}
#seventh-listveiw {
  flex-direction: column;}

  #seventh-listveiw > li {
    width: 85%;
    height: 27.445vw;
}
.eight-col-wrap {
  flex-direction: column;
}
#eight-list-view > li > section > h1 {
  font-size: 2.25vw;
}
#eight-list-view > li > section > p {
  font-size: 2.338vw;
  width: 100%;
}
#eight-list-view > li > img {
  width: 11.805vw;
  height: 12.805vw;
}
}
