@font-face {
  font-family: "JakartaSans";
  src: url("../fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --main-color: #12222f;
  --secondary-color: #a14198;
  --Omni-Purple-2: #a14198;
  --Omni-Yellow: #feba16;
  --white: #fff;
  --Muted-Text: #838383;
  --Omni-Dark: #12222f;
  --Inter: "Inter";
  --JakartaSans: "JakartaSans";
}
.contact-wrap {
  display: flex;
  justify-content: space-between;
  height: inherit;
}
.left-contact-info > ul > li {
  display: flex;
  align-items: center;
  gap: 1.563vw;
  margin-top: 2.344vw;
}
.left-contact-info > ul > li span {
  width: 4.805vw;
  height: 4.805vw;
  background: var(--Omni-Yellow);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.938vw;
}
.left-contact-info > ul > li > section > h1 {
  color: var(--Omni-Yellow);
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
.left-contact-info > ul > li > section > p {
  color: #838383;
  text-align: justify;
  margin-top: 0.375vw;
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;
}
.contact-form-wrap {
  width: 51.953vw;
  height: 26.227vw;
  height: inherit;
}
.contact-form-wrap > form {
  height: inherit;
  padding: 1.172vw 1.172vw 1.172vw 1.172vw;
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
}
.contact-form-wrap > form > input {
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
  height: 3.125vw;
  border-radius: 0.391vw;
  padding-left: 0.781vw;
  color: #838383;
  text-align: justify;
  margin-top: 0.375vw;
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;

  border: 0.039vw solid var(--main-color);
}
input::placeholder {
  color: #838383;
  text-align: justify;
  margin-top: 0.375vw;
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;
}
.contact-row > input {
  border: 0.039vw solid var(--main-color);
  width: 100%;
  height: 3.125vw;
  padding-left: 0.781vw;
  border-radius: 0.391vw;
  color: #838383;
  text-align: justify;
  margin-top: 0.375vw;
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;
}
#text-message {
  border: 0.039vw solid var(--main-color);
  resize: none;
  border-radius: 0.391vw;
  padding: 0.781vw 0.781vw 0 0.781vw;
  color: #838383;
  text-align: justify;
  margin-top: 0.375vw;
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;
}
.contact-row {
  display: flex;
  gap: 0.781vw;
}
.contact-form-wrap > form > button {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  gap: 6.016vw;
  border: none;
  border-radius: 0.313vw;
  padding: 0.625vw 1.25vw 0.625vw 1.25vw;
  /* background: radial-gradient(
    60.19% 121.58% at 30.25% 20.32%,
    rgba(200, 45, 150, 0.35) 2.08%,
    rgba(198, 19, 162, 0.35) 30.73%,
    rgba(181, 80, 248, 0.71) 100%
  ); */
  background: var(--Omni-Yellow);
  color: #fff;
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.563vw;
  cursor: pointer;
}
@media (max-width: 788px) {
  .contact-wrap {
    flex-direction: column;
    align-items: center;
  }
  .left-contact-info > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4vw;
  }
  .left-contact-info > ul > li span {
    width: 5.805vw;
    height: 5.805vw;
    font-size: 2.938vw;
  }
  .left-contact-info {
    width: 66vw;
  }
  .left-contact-info > ul > li > section > h1 {
    font-size: 3.25vw;
  }
  .left-contact-info > ul > li > section > p {
    font-size: 2.938vw;
  }
  .contact-form-wrap {
    margin-top: 5vw;
    width: 100%;
  }
  .contact-row {
    display: flex;
    gap: 0.781vw;
    flex-direction: column;
  }
  .contact-row > input {
    width: 99%;
    height: 13.125vw;
    font-size: 4.538vw;
  }
  .contact-row > input::-webkit-input-placeholder {
    font-size: 2.538vw !important;
  }
  .contact-form-wrap > form > input {
    height: 13.125vw;
    font-size: 2.538vw;
  }
  .contact-form-wrap > form > input::-webkit-input-placeholder {
    font-size: 2.538vw !important;
  }
  #text-message {
    height: 40vw;
    font-size: 2.538vw;
  }
  .contact-form-wrap > form > button {
    height: 11vw;
    align-items: center;
    justify-content: center;
    font-size: 3.25vw;
    border-radius: 2vw;
  }
}
@media (max-width: 488px) {
  .contact-wrap {
    flex-direction: column-reverse;
    align-items: start;
  }
  .contact-form-wrap > form > input::-webkit-input-placeholder {
    font-size: 4.538vw !important;
  }
  .contact-row > input::-webkit-input-placeholder {
    font-size: 4.538vw !important;
  }
  .contact-row {
    gap: 4.781vw;
  }
  .contact-form-wrap > form > input {
    margin-top: 4.781vw;
  }
  .contact-row > input {
    width: 99%;
    height: 18.125vw;
    font-size: 4.538vw;
  }
  .contact-form-wrap > form > input {
    height: 18.125vw;
    font-size: 4.538vw;
  }
  .left-contact-info > ul > li span {
    width: 13.805vw;
    height: 12.805vw;
    font-size: 6.938vw;
  }
  #text-message {
    margin-top: 4.781vw;
    height: 59vw;
    font-size: 4.538vw;
  }
  .contact-form-wrap > form > button {
    margin-top: 4.781vw;
    height: 13vw;
    font-size: 4.25vw;
  }
  .left-contact-info > ul {
    margin-top: 5vw;
    gap: 10vw;
    flex-direction: column;
  }
  .left-contact-info > ul > li > section > h1 {
    font-size: 5.25vw;
  }
  .left-contact-info > ul > li > section > p {
    font-size: 4.938vw;
  }
}
