@font-face {
  font-family: "JakartaSans";
  src: url("../fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --main-color: #12222f;
  --secondary-color: #a14198;
  --Omni-Yellow: #feba16;
  --white: #fff;
  --Muted-Text: #838383;
  --Omni-Dark: #12222f;
  --Inter: "Inter";
  --JakartaSans: "JakartaSans";
}
#product-main {
  height: inherit;
}
.col-product-val {
  display: flex;
  justify-content: space-between;
}
.product-col-top {
  display: flex;

  height: inherit;
  padding-bottom: 1.563vw;
}
.sliderwrapper {
  padding: 4.688vw 0 4.688vw 0;
}
.sliderwrapper img {
  width: 29.641vw;
  height: 25.057vw;
  border-radius: 0.781vw;
}
.col-left-st {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-col-details > h1 {
  color: var(--Omni-Dark);
  margin-top: 16px;
  font-family: var(--Inter);
  font-size: 1.8vw;
  font-weight: 700;
}

.col-left-st > p {
  color: #838383;
  width: 15.641vw;
  margin-top: 1.875vw;
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;
}
#certified {
  width: 10.641vw;
  height: 13.057vw;
  object-fit: cover;
}
#sectionimg {
  margin-top: 20px;
  border-radius: 0.391vw;
  width: 15.641vw;
  height: 13.057vw;
}
.col-product-val > section {
  width: 31.797vw;
  height: 29.727vw;
  gap: 1.875vw;
  height: inherit;
}
.col-product-val > section > h1 {
  color: var(--Omni-Yellow);
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;
}
.col-product-val > section > p:nth-child(2) {
  color: var(--Omni-Dark);
  margin-top: 16px;
  font-family: var(--Inter);
  font-size: 2.188vw;
  font-weight: 700;
}
.col-product-val > section > p:nth-child(3) {
  color: #838383;
  text-align: justify;
  margin-top: 1.875vw;
  font-family: var(--JakartaSans);
  font-size: 0.938vw;
  font-weight: 500;
}
.col-product-val section > a,
.col-left-st > button {
  margin-top: 1.875vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 6.016vw;
  border: none;
  border-radius: 0.313vw;
  padding: 0.625vw 1.25vw 0.625vw 1.25vw;
  background: radial-gradient(
    60.19% 121.58% at 30.25% 20.32%,
    rgba(200, 45, 150, 0.35) 2.08%,
    rgba(198, 19, 162, 0.35) 30.73%,
    rgba(181, 80, 248, 0.71) 100%
  );
  color: #fff;
  font-family: var(--Inter);
  font-size: 1.25vw;
  font-weight: 600;

  cursor: pointer;
}
.modalscheduler {
  position: absolute;
  background-color: #83838370;
  width: 100%;
  height: 100%;
}
.loop-corner {
  margin-top: 1.172vw;
}
.col-product-rectanlge > img {
  width: 29.641vw;
  height: 35.057vw;
  border-radius: 10px;
  object-fit: cover;
}
@media (max-width: 788px) {
  .main-padding {
    padding: 17.75vw 3.719vw;
  }
  .col-product-val {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .col-product-val > section {
    margin-top: 5vw;
    width: 100%;
    height: inherit;
  }
  .col-product-val > section > h1 {
    font-size: 5.55vw;
  }
  .col-product-val > section > p:nth-child(2) {
    font-size: 6.188vw;
  }
  .col-product-val > section > p:nth-child(3) {
    font-size: 3.338vw;
  }
  .col-product-val section > a,
  .col-left-st > a {
    margin-top: 5vw;
    gap: 6.016vw;
    padding: 4.625vw 10.25vw;
    border-radius: 1vw;
    font-size: 5.25vw;
  }
  .col-product-rectanlge {
    margin-top: 2vw;
    height: inherit;
    width: 100%;
  }
  .col-product-rectanlge > img {
    width: 100%;
    height: 71.057vw;
    border-radius: 10px;
    object-fit: cover;
  }
  .eight-col-wrap > section h1 {
    font-size: 4.25vw;
  }
  .eight-col-wrap > section p {
    margin-bottom: 16px;
    font-size: 4.188vw;
  }
}
